<% title 'Control Panel' %>

<h1 style="text-align:center">Control Panel</h1>

<h3><%= @user.email %></h3>

<div class="container">  
  <div class="row">  
    <div class="span12 terminal" style="background-color:#000;height:600px;border-radius:5px;color:#fff">
      <div class="content" style="padding:15px"><%= @story.html_safe %></div>
    </div>

    <div class="span12" style="text-align:center">
      <span class="button">Continue</span>
      <span class="button">Go Back</span>
      <span class="button">Run</span>
    </div>

  </div>    
</div>  
